<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue">
    <button v-on:click="handleBtnClick">提交</button>
    <ul>
        <!--        @delete 监听delete时间 , 触发时-->
        <todo-item :item-content="item"
                   :index="index"
                   v-for="(item,index) in list"
                   @delete="handleItemDelete"
        ></todo-item>
    </ul>
</div>
<script>
    // 定义全局组件
    // Vue.component("TodoItem", {
    //     props: ['itemContent'], // 使用父组件 app传来的数据需要定义props
    //     template: "<li>{{this.itemContent}}</li>"
    // });

    // 定义局部组件
    var TodoItem = {
        props: ['itemContent', 'index'], // 使用父组件 app传来的数据需要定义props
        template: "<li @click='handleItemClick()'>{{itemContent}}</li>",
        methods: {
            handleItemClick() {
                this.$emit("delete", this.index);
            }
        }
    };

    const app = new Vue({
        el: '#app', // 需要接管的dom元素
        data: { // 可通过app.$data获取
            list: ['detail of 1st class', 'detail of 2nd class'],
            inputValue: ''
        },
        methods: {
            handleBtnClick() {
                this.list.push(this.inputValue);
                this.inputValue = '';
            }
            , handleItemDelete(index) {
                this.list.splice(index, 1);
            }
        },
        components: {
            TodoItem
        },
    });
</script>
</body>

</html>


<style>
    body {
        font-family: "Microsoft YaHei";
    }

</style>